<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar">
      <a href="#now-playing">Now Playing</a>
      <a href="#upcoming">Upcoming</a>
      <a href="#top-rated">Top Rated</a>
      <a href="#genres">Genres</a>
      <a href="#watchlist">Watchlist</a>
    </div>


    <%= yield %>
  </body>
</html>
